@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Gilroy-extrabold";
    src: url("./assets/font/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy-light";
    src: url("./assets/font/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf");
}

@font-face {
    font-family: "Monotype-Corsiva";
    src: url("./assets/font/monotype-corsiva/Monotype/Corsiva.ttf");
}

@font-face {
    font-family: "Great-Vibes";
    src: url("./assets/font/great-vibes/GreatVibes-Regular.ttf");
}

@media only screen and (min-width: 1259px) {
    .background {
        margin-right: auto;
        margin-left: auto;
        width: 66.6666%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .background-page-2 {
        margin-right: auto;
        margin-left: auto;
        width: 66.6666%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    body {
        background-color: grey;
    }
    .bg-page1-isiundangan {
        background-image: url('./assets/page-1.jpeg');
        background-position: 120% 100vh;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
}

@media only screen and (min-width: 768px) and (max-width: 1258px) {
    .bg-page1-isiundangan {
        background-image: url('./assets/page-1.jpeg');
        background-position: 100% 100vh;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
    .background-page-2 {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 640px)and (max-width: 767px) {
    .bg-page1-isiundangan {
        background-image: url('./assets/page-1.jpeg');
        background-position: 35% 100vh;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
    .background-page-2 {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 300px) and (max-width: 639px) {
    .bg-page1-isiundangan {
        background-image: url('./assets/page-1.jpeg');
        background-position: 35% 100vh;
        /* background-size: cover;
        background-repeat: no-repeat; */
    }
    .background-page-2 {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

label {
    font-family: "Gilroy-light";
}


/* .bg-utama {
    background-color: grey;
} */

.bg-dunes {
    background-image: url('./assets/background/bg-page1.jpeg');
}


/* .bg-page1-isiundangan {
    background-image: url('assets/page-1.jpeg');
    background-position: 35% 100vh;
  
} */

.bg-page-2 {
    background-color: white;
}

.bg-page-protokol {
    background-color: red;
}

.bg-page-3 {
    background-image: url('./assets/background/bg-page2.jpg');
}

.bg-page-4 {
    background-image: url('./assets/foto-mempelai/collect-1.jpeg');
    background-size: cover;
    background-position: center center;
}

.bg-page-4-1 {
    background-image: url('./assets/foto-mempelai/collect-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-page-4-2 {
    background-image: url('./assets/foto-mempelai/collect-3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-page-4-3 {
    background-image: url('./assets/foto-mempelai/collect-4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}